<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    {% include 'includes/include.html' %}
</head>
<body>

    {% include 'nonlogin/navbar.html' %}
    <div class="container" id="top_margin">
        <div class="row">
            <div class="col-lg-10 col-12 offset-lg-1">
                <img src="{% static 'images/home_wallpapers/collection-newspapers.jpg' %}" alt="Newspaper image" class="img-fluid">
                <div class="card mt-4">
                    <div class="card-body">
                        <div class="text-center mb-4">
                            <h3 class="display-6">Discover Exciting Categories</h3>
                        </div>
                        <div class="row mt-md-3 mt-0">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <div class="card inner_card">
                                    <div class="card-body">
                                        <h5 class="card-title inner_card-title">Apple Articles</h5>
                                        <p class="card-text">All articles mentioning Apple from yesterday, sorted by popular publishers first</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <div class="card inner_card">
                                    <div class="card-body">
                                        <h5 class="card-title inner_card-title">Tesla Articles</h5>
                                        <p class="card-text">All articles about Tesla from the last month, sorted by recent first</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-md-3 mt-0">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <div class="card inner_card">
                                    <div class="card-body">
                                        <h5 class="card-title inner_card-title">Top Business Headlines (US)</h5>
                                        <p class="card-text">Top business headlines in the US right now</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-3">
                                <div class="card inner_card">
                                    <div class="card-body">
                                        <h5 class="card-title inner_card-title">TechCrunch Headlines</h5>
                                        <p class="card-text">Top headlines from TechCrunch right now</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-md-3 mt-0">
                            <div class="col-md-6 mt-md-0 mt-3">
                                <div class="card inner_card">
                                    <div class="card-body">
                                        <h5 class="card-title inner_card-title">Wall Street Journal Articles</h5>
                                        <p class="card-text">All articles published by the Wall Street Journal in the last 6 months, sorted by recent</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    {% include 'includes/footer.html' %}
</body>
</html>
